body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    cursor: default;
}

.grid {
}

span.label {
    display: inline-block;
    width: 150px;
}

.clip {
    background-color: #ff0000ff
}

#controls {
    display: flex;
}

#controls > div {
    width: 50%
}

#controls > div + div {
    margin-left: 5px;
}


