body {
    background-color: #1C1C1C;
    color: white;
    font-family: Noto Sans, sans-serif;
}

.grid {
    margin: 2em;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    grid-column-gap: 1.5em;
    grid-row-gap: 3em;
}



.thumbnail {
    width: 100%;
    height: 100%;
    background-color: #000;
}

#title {
    background-color: #343434;
    text-align: center;
    font-size: 13px;
    border-radius: 0 0 5px 5px;
    height: 1.75em;
    margin-top: -0.25em;
    padding-top: 0.2em;
}

.selected {
    background-color: #AAAA34 !important;
}

.label {
    background-color: white;
}

.colors {
    display: flex;
    justify-content: center;
    margin-left: -5%;
    padding-top: 0.5em;
}

.filter-container {
    background-color: #333333;
    display: flex;
}

.color {
    width: 35px;
    height: 35px;
    margin: 5px;
    border-radius: 2px;
}
