body {
    background-color: #1C1C1C;
    color: white;
    font-family: Noto Sans, sans-serif;
}

.grid {
    margin: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 0.25fr));
    grid-column-gap: 1.5em;
    grid-row-gap: 2em;
}

.clip
{
    background-color: #000;
}



.thumbnail {
    width: 100%;
    height: 100%;
}

.handle {
    background-color: #343434;
    text-align: center;
    font-size:80%;
    border-radius: 0 0 5px 5px;
    height: 2em;
    padding-top: 0.5em;
    font-size: 1em;
}

.selected {
    background-color: #A1FCD5;
    color: #1C1C1C;
}

.connected {
    outline: 4px solid #A1FCD5;
    outline-offset: -4px;
}

.colors {
    display: flex;
    justify-content: center;
    margin-left: -5%;
    padding-top: 0.5em;
}

.filter-container {
    background-color: #333333;
    display: flex;
}

.filter {
    width: 35px;
    height: 35px;
    margin: 5px;
    border-radius: 2px;
}

.filter-selected {
    border: #A1FCD5 2px solid;
    border-radius: 2px;
}

.filter-unselected {
    border: #00000000 2px solid;
    border-radius: 2px;
}

.clr1 {
    background-color: #4E4E4E;    
}
.clr2 {
    background-color: #C35839;
}
.clr3 {
    background-color: #81B035;
}
.clr4 {
    background-color: #00B285;
}
.clr5 {
    background-color: #0077AF;
}
.clr6 {
    background-color: #C22596;
}

.clr1, .clr2, .clr3, .clr4, .clr5, .clr6 {
    text-align: center;
}
.count {
    padding-top: 6px;
    opacity: 0.7;
}

.message {
    text-align: center;
    margin-top: 15%;
    opacity: 0.4;
}